<!DOCTYPE html>
<head>
  ##parse("usermanage/usermanage-head.vm")
<meta name="description" content="slick Login">
<meta name="author" content="Webdesigntuts+">
<link rel="stylesheet" type="text/css" href="assert/style.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="//cdn.bootcss.com/modernizr/2010.07.06dev/modernizr.js"></script>
<script type="text/javascript" src="assert/placeholder.js"></script>
</head>
<body>
<form id="slick-login" action="/usermanagelogin" method="post">
<label for="username">用户名</label><input type="text" name="username" class="placeholder" >
<label for="password">密码</label><input type="password" name="password" class="placeholder">
<input type="button" value="登录" id="btn-login-submit">
</form>
</body>
<script>
    $(function(){
        // for alert dialog
        var isShowDialog = false;
        function dialogCallback(code) {
            isShowDialog = false;
            if (errorInput != null && errorInput != 'undefined') {
                errorInput.focus();
            }
        }
        $('input').keydown(function(e){
            if(e.keyCode==13){
                login();
                $(this).blur();
            }
            return true;
        });
        $('#btn-login-submit').click(function () {
            login();
        });

        function login() {
            var form = $("#slick-login");
            var username=form.find('input[name="username"]').val();
            var password=form.find('input[name="password"]').val();
            if (!checkEmpty(form, "username", "用户名")) {
                return;
            }
            if (!checkEmpty(form, "password", "密码")) {
                return;
            }
            form.submit();
        }

        function checkEmpty(form, inputName, inputDescription) {
            var val=form.find('input[name="' + inputName + '"]').val();
            if(val == '') {
                isShowDialog=tpsAlert("请输入" + inputDescription,dialogCallback);
                errorInput = form.find('input[name="' + inputName + '"]');
                return false;
            }
            return true;
        }
        #springBind("form")
        #if($status.errors.hasErrors())
            // velocity generated codes
            var error = '';
            #foreach($e in $status.errorMessages)
                error = error + '$!{e}' + ';'
            #end
            #foreach($f in $status.errors.fieldErrors)
                #springBind("form.${f.field}")
                #foreach($e in $status.errorMessages)
                    error = error + '$!{e}' + ';'
                #end
            #end
            errorInput = $("#form-login").find('input[name="username"]');
            isShowDialog=tpsAlert(error,dialogCallback);
        #end
    });
</script>
</html>