.editable {
    background-image: url("/assert/image/admin/edit-16x16.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right center;
    text-align: center;
}

.editing {
    background-image: none;
}

.value-header {
    text-align: center;
}

.tips {
    padding: 5px;
    border: 2px solid #ff9933;
    border-radius: 10px;
    color: red;
}

.allow {
    color: green;
    text-align: center;
}

.disallow {
    color: red;
    text-align: center;
}

.role-header {
    text-align: center;
}

.navbar-nav .active {
    background: #eee;
}
.delete {
    color: #f00;
}
#loading {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(/assert/image/loading_spin.gif) no-repeat;
    background-size: 60px, 60px;
    background-position: center, center;
}
.add-section-page-panel {
    display: none;
}
.un-assigned-pages, .to-be-add-pages {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 13px;
    width: 45%;
}
.un-assigned-pages tr, .to-be-add-pages tr {
    cursor: pointer;
    background: #f0f0f0;
}
tr .header {
    cursor: default;
}
.un-assigned-pages tr[select="true"], .to-be-add-pages tr[select="true"] {
    background: #337ab7;
    color: #fff;
}
.btn-panel {
    display: inline-block;
    width: 8%;
    vertical-align: top;
    padding-top: 100px;
}
.btn-panel input {
    margin-top: 10px;
}
