<!DOCTYPE html>
##PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    #parse("head-contents.vm")
</head>
<body>
    #parse("page-header.vm")


<h3>密码重置</h3>
<div>
    密码重置成功。 请检查你的邮箱获取新的密码。
</div>
    #parse("page-footer.vm")

</body>
</html>