<!DOCTYPE html>
##PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    #parse("head-contents.vm")
	<script>
	$(document).ready(function(){
    	$("#resetPassword").click(function(){
    	$("#resetFormPassword").submit();
    	});
	});
    </script>
</head>
<body>
    #parse("page-header.vm")

<div class="portal">
<div class="p-form">
    <form action="#springUrl("/password/reset")" method="POST" id="resetFormPassword">
    ##all error messages
        #springBind("form")
        #if($status.errors.hasErrors())
            <ul>
            ## Global error messages
                #foreach($e in $status.errorMessages)
                    <li>${e}</li>
                #end
            ## Field error messages
                #foreach($f in $status.errors.fieldErrors)
                    #springBind("form.${f.field}")
                    #foreach($e in $status.errorMessages)
                        <li>${e}</li>
                    #end
                #end
            </ul>
        #end

	<div class="p-f-item">
                <div class="p-f-i"><label class="i-mail"></label><input class="p-input" type="text" placeholder="常用邮箱"
                                                                        id="email" name="email"/></div>
                </div>


 <div class="p-f-item">
                <div class="reset-btn r-btn-unclick-reset" id="resetPassword">重置密码</div>
            </div>
    </form>
</div>
</div>
    #parse("page-footer.vm")

</body>
</html>