<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ln.film.dao.HallMapper" >
  <resultMap id="BaseResultMap" type="com.ln.film.model.Hall" >
    <id column="Hid" property="hid" jdbcType="INTEGER" />
    <result column="HHall" property="hhall" jdbcType="VARCHAR" />
    <result column="HNum" property="hnum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Hid, HHall, HNum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ln.film.model.HallExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from hall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hall
    where Hid = #{hid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hall
    where Hid = #{hid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ln.film.model.HallExample" >
    delete from hall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ln.film.model.Hall" >
    insert into hall (Hid, HHall, HNum
      )
    values (#{hid,jdbcType=INTEGER}, #{hhall,jdbcType=VARCHAR}, #{hnum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ln.film.model.Hall" >
    insert into hall
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hid != null" >
        Hid,
      </if>
      <if test="hhall != null" >
        HHall,
      </if>
      <if test="hnum != null" >
        HNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hid != null" >
        #{hid,jdbcType=INTEGER},
      </if>
      <if test="hhall != null" >
        #{hhall,jdbcType=VARCHAR},
      </if>
      <if test="hnum != null" >
        #{hnum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ln.film.model.HallExample" resultType="java.lang.Integer" >
    select count(*) from hall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hall
    <set >
      <if test="record.hid != null" >
        Hid = #{record.hid,jdbcType=INTEGER},
      </if>
      <if test="record.hhall != null" >
        HHall = #{record.hhall,jdbcType=VARCHAR},
      </if>
      <if test="record.hnum != null" >
        HNum = #{record.hnum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hall
    set Hid = #{record.hid,jdbcType=INTEGER},
      HHall = #{record.hhall,jdbcType=VARCHAR},
      HNum = #{record.hnum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ln.film.model.Hall" >
    update hall
    <set >
      <if test="hhall != null" >
        HHall = #{hhall,jdbcType=VARCHAR},
      </if>
      <if test="hnum != null" >
        HNum = #{hnum,jdbcType=VARCHAR},
      </if>
    </set>
    where Hid = #{hid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ln.film.model.Hall" >
    update hall
    set HHall = #{hhall,jdbcType=VARCHAR},
      HNum = #{hnum,jdbcType=VARCHAR}
    where Hid = #{hid,jdbcType=INTEGER}
  </update>
</mapper>