<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ln.film.dao.OrderSeatMapper" >
  <resultMap id="BaseResultMap" type="com.ln.film.model.OrderSeat" >
    <id column="osid" property="osid" jdbcType="INTEGER" />
    <result column="Seid" property="seid" jdbcType="INTEGER" />
    <result column="oid" property="oid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    osid, Seid, oid, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ln.film.model.OrderSeatExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from order_seat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_seat
    where osid = #{osid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_seat
    where osid = #{osid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ln.film.model.OrderSeatExample" >
    delete from order_seat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ln.film.model.OrderSeat" >
    <selectKey resultType="java.lang.Integer" keyProperty="osid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_seat (Seid, oid, status
      )
    values (#{seid,jdbcType=INTEGER}, #{oid,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ln.film.model.OrderSeat" >
    <selectKey resultType="java.lang.Integer" keyProperty="osid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_seat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seid != null" >
        Seid,
      </if>
      <if test="oid != null" >
        oid,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seid != null" >
        #{seid,jdbcType=INTEGER},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ln.film.model.OrderSeatExample" resultType="java.lang.Integer" >
    select count(*) from order_seat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_seat
    <set >
      <if test="record.osid != null" >
        osid = #{record.osid,jdbcType=INTEGER},
      </if>
      <if test="record.seid != null" >
        Seid = #{record.seid,jdbcType=INTEGER},
      </if>
      <if test="record.oid != null" >
        oid = #{record.oid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_seat
    set osid = #{record.osid,jdbcType=INTEGER},
      Seid = #{record.seid,jdbcType=INTEGER},
      oid = #{record.oid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ln.film.model.OrderSeat" >
    update order_seat
    <set >
      <if test="seid != null" >
        Seid = #{seid,jdbcType=INTEGER},
      </if>
      <if test="oid != null" >
        oid = #{oid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where osid = #{osid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ln.film.model.OrderSeat" >
    update order_seat
    set Seid = #{seid,jdbcType=INTEGER},
      oid = #{oid,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR}
    where osid = #{osid,jdbcType=INTEGER}
  </update>
</mapper>