<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ln.film.dao.SeatMapper" >
  <resultMap id="BaseResultMap" type="com.ln.film.model.Seat" >
    <id column="Seid" property="seid" jdbcType="INTEGER" />
    <result column="SeHallID" property="sehallid" jdbcType="INTEGER" />
    <result column="Serow" property="serow" jdbcType="VARCHAR" />
    <result column="Senum" property="senum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Seid, SeHallID, Serow, Senum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ln.film.model.SeatExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from seat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from seat
    where Seid = #{seid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from seat
    where Seid = #{seid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ln.film.model.SeatExample" >
    delete from seat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ln.film.model.Seat" >
    <selectKey resultType="java.lang.Integer" keyProperty="seid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into seat (SeHallID, Serow, Senum
      )
    values (#{sehallid,jdbcType=INTEGER}, #{serow,jdbcType=VARCHAR}, #{senum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ln.film.model.Seat" >
    <selectKey resultType="java.lang.Integer" keyProperty="seid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into seat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sehallid != null" >
        SeHallID,
      </if>
      <if test="serow != null" >
        Serow,
      </if>
      <if test="senum != null" >
        Senum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sehallid != null" >
        #{sehallid,jdbcType=INTEGER},
      </if>
      <if test="serow != null" >
        #{serow,jdbcType=VARCHAR},
      </if>
      <if test="senum != null" >
        #{senum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ln.film.model.SeatExample" resultType="java.lang.Integer" >
    select count(*) from seat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update seat
    <set >
      <if test="record.seid != null" >
        Seid = #{record.seid,jdbcType=INTEGER},
      </if>
      <if test="record.sehallid != null" >
        SeHallID = #{record.sehallid,jdbcType=INTEGER},
      </if>
      <if test="record.serow != null" >
        Serow = #{record.serow,jdbcType=VARCHAR},
      </if>
      <if test="record.senum != null" >
        Senum = #{record.senum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update seat
    set Seid = #{record.seid,jdbcType=INTEGER},
      SeHallID = #{record.sehallid,jdbcType=INTEGER},
      Serow = #{record.serow,jdbcType=VARCHAR},
      Senum = #{record.senum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ln.film.model.Seat" >
    update seat
    <set >
      <if test="sehallid != null" >
        SeHallID = #{sehallid,jdbcType=INTEGER},
      </if>
      <if test="serow != null" >
        Serow = #{serow,jdbcType=VARCHAR},
      </if>
      <if test="senum != null" >
        Senum = #{senum,jdbcType=VARCHAR},
      </if>
    </set>
    where Seid = #{seid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ln.film.model.Seat" >
    update seat
    set SeHallID = #{sehallid,jdbcType=INTEGER},
      Serow = #{serow,jdbcType=VARCHAR},
      Senum = #{senum,jdbcType=VARCHAR}
    where Seid = #{seid,jdbcType=INTEGER}
  </update>
</mapper>