<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ln.film.dao.TimetableMapper" >
  <resultMap id="BaseResultMap" type="com.ln.film.model.Timetable" >
    <id column="Tid" property="tid" jdbcType="INTEGER" />
    <result column="TFid" property="tfid" jdbcType="INTEGER" />
    <result column="THallID" property="thallid" jdbcType="INTEGER" />
    <result column="TDate" property="tdate" jdbcType="DATE" />
    <result column="TTime" property="ttime" jdbcType="TIME" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Tid, TFid, THallID, TDate, TTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ln.film.model.TimetableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from timetable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from timetable
    where Tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from timetable
    where Tid = #{tid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ln.film.model.TimetableExample" >
    delete from timetable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ln.film.model.Timetable" >
    <selectKey resultType="java.lang.Integer" keyProperty="tid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into timetable (TFid, THallID, TDate, 
      TTime)
    values (#{tfid,jdbcType=INTEGER}, #{thallid,jdbcType=INTEGER}, #{tdate,jdbcType=DATE}, 
      #{ttime,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="com.ln.film.model.Timetable" >
    <selectKey resultType="java.lang.Integer" keyProperty="tid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into timetable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tfid != null" >
        TFid,
      </if>
      <if test="thallid != null" >
        THallID,
      </if>
      <if test="tdate != null" >
        TDate,
      </if>
      <if test="ttime != null" >
        TTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tfid != null" >
        #{tfid,jdbcType=INTEGER},
      </if>
      <if test="thallid != null" >
        #{thallid,jdbcType=INTEGER},
      </if>
      <if test="tdate != null" >
        #{tdate,jdbcType=DATE},
      </if>
      <if test="ttime != null" >
        #{ttime,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ln.film.model.TimetableExample" resultType="java.lang.Integer" >
    select count(*) from timetable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update timetable
    <set >
      <if test="record.tid != null" >
        Tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.tfid != null" >
        TFid = #{record.tfid,jdbcType=INTEGER},
      </if>
      <if test="record.thallid != null" >
        THallID = #{record.thallid,jdbcType=INTEGER},
      </if>
      <if test="record.tdate != null" >
        TDate = #{record.tdate,jdbcType=DATE},
      </if>
      <if test="record.ttime != null" >
        TTime = #{record.ttime,jdbcType=TIME},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update timetable
    set Tid = #{record.tid,jdbcType=INTEGER},
      TFid = #{record.tfid,jdbcType=INTEGER},
      THallID = #{record.thallid,jdbcType=INTEGER},
      TDate = #{record.tdate,jdbcType=DATE},
      TTime = #{record.ttime,jdbcType=TIME}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ln.film.model.Timetable" >
    update timetable
    <set >
      <if test="tfid != null" >
        TFid = #{tfid,jdbcType=INTEGER},
      </if>
      <if test="thallid != null" >
        THallID = #{thallid,jdbcType=INTEGER},
      </if>
      <if test="tdate != null" >
        TDate = #{tdate,jdbcType=DATE},
      </if>
      <if test="ttime != null" >
        TTime = #{ttime,jdbcType=TIME},
      </if>
    </set>
    where Tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ln.film.model.Timetable" >
    update timetable
    set TFid = #{tfid,jdbcType=INTEGER},
      THallID = #{thallid,jdbcType=INTEGER},
      TDate = #{tdate,jdbcType=DATE},
      TTime = #{ttime,jdbcType=TIME}
    where Tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>